@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

main,
body {
  background: black;
}

.root {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
  justify-content: center;
  align-items: center;
}

.justify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  margin-top: 30px;
}


.fadeIn {
  opacity: 1;
  animation: fadeIn 1s
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 3s
}

.text-introduction,
.text-second,
.text-third {
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.text-introduction {
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: 'Amatic Sc', cursive;
}

.text-second {
  font-weight: 300;
  font-size: 21px;
  font-family: 'Amatic Sc', cursive;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  30% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  30% {
    opacity: 0
  }

  100% {
    opacity: 0;
  }
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 350px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.submit {
  color: white;
  border: 1px solid grey;
  text-align: center;
  padding: 8px;
  width: 300px;
  
}

.inputField {
  padding: 10px;
  border-radius: 2px;
  color: white;
  width: 300px;
  background-color: black;
  border-bottom: 1px solid grey;
}

.label {
  margin-bottom: 10px;
  font-weight: 300;
}

.input {

  color: white;
  margin-top: 20px;

}

.header-container {
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px;
}