@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



main,
body {
  background: black;
}

.root {
  background-color: black;
  display: flex;
  flex-direction: column;

}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
  justify-content: center;
  align-items: center;
}

.video {
  margin-top: 30px;
}


.fadeIn {
  opacity: 1;
  animation: fadeIn 1s
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 3s
}

.text-introduction,
.text-second,
.text-third {
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.text-introduction {
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: 'Langar', cursive;
}

.text-second {
  font-weight: 300;
  font-size: 14px;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  30% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  30% {
    opacity: 0
  }

  100% {
    opacity: 0;
  }
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}